@import "tailwindcss";

:root {
  --color-midnight: #1b1b1b;
  --color-pink: #FF69B4;
  --color-champagne: #F5E9CF;
  --color-luxeGold: #C6A15C;
  --color-pearlWhite: #FFFFFF;
  --color-slateGray: #6B7280;
  --color-mintCream: #F1FFFA;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.bg-midnight {
  background-color: var(--color-midnight);
}
.text-champagne {
  color: var(--color-champagne);
}
.text-mintCream {
  color: var(--color-mintCream);
}
.text-pink {
  color: var(--color-pink);
}
.text-luxeGold {
  color: var(--color-luxeGold);
}
.text-pearlWhite {
  color: var(--color-pearlWhite);
}
.text-slateGray {
  color: var(--color-slateGray);
}

.bg-champagne {
  background-color: var(--color-champagne);
}
.bg-mintCream {
  background-color: var(--color-mintCream);
}
.bg-luxeGold {
  background-color: var(--color-luxeGold);
}
.bg-pearlWhite {
  background-color: var(--color-pearlWhite);
}
.bg-slateGray {
  background-color: var(--color-slateGray);
}

.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logos-track {
  animation: slide 50s linear infinite;
}

.text-shine {
  background: linear-gradient(90deg, #fff, #C6A15C, #fff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}